<VirtualHost *:{{ item.port|default() }}>
        ServerName {{ item.server_name }}
        {% if item.server_aliases %}ServerAlias {% for server_alias in item.server_aliases %}{{ server_alias }}{% if not loop.last %} {% endif %}{% endfor %}

{% endif %}
        ServerAdmin {{ item.server_admin }}
        DocumentRoot {{ item.document_root }}

        ErrorLog {{ item.server_name }}_error.log
        CustomLog {{ item.server_name }}_access.log combined

        <Directory {{ item.document_root }}>
            Options FollowSymLinks
            AllowOverride All
        </Directory>

</VirtualHost>
